# **Questions**

Which are the top five OECD countries that present the best laboral integration rates according to the educational attainment of the immigrant ?

In [2]:
import pandas as pd
import numpy as np

In [63]:
data = pd.read_csv('../data/clean/immigrant_education_employment_OECD.csv')
data

        Country Place of birth Educational attainment  Year        Unit  Value
0     Australia   Foreign-born                  Total  2015  Percentage   72.3
1     Australia   Foreign-born                  Total  2016  Percentage   72.6
2     Australia   Foreign-born                  Total  2017  Percentage   73.7
3     Australia   Foreign-born                  Total  2018  Percentage   74.5
4     Australia   Foreign-born                  Total  2019  Percentage   75.1
...         ...            ...                    ...   ...         ...    ...
1188  Lithuania    Native-born                   High  2015  Percentage   90.1
1189  Lithuania    Native-born                   High  2016  Percentage   91.3
1190  Lithuania    Native-born                   High  2017  Percentage   91.1
1191  Lithuania    Native-born                   High  2018  Percentage   91.5
1192  Lithuania    Native-born                   High  2019  Percentage   91.6

[1193 rows x 6 columns]

General overview of the laboral integration rates according to the educational attainment of the immigrant (MEAN)

In [66]:
max_immi = data.pivot_table(index=['Educational attainment', 'Year', 'Unit'], aggfunc = {'Value':'mean'} )
max_immi

                                            Value
Educational attainment Year Unit
High                   2015 Percentage  81.106452
                       2016 Percentage  81.895000
                       2017 Percentage  82.686667
                       2018 Percentage  83.279310
                       2019 Percentage  83.625862
Low                    2015 Percentage  55.220339
                       2016 Percentage  57.218966
                       2017 Percentage  58.139655
                       2018 Percentage  58.350000
                       2019 Percentage  58.828571
Medium                 2015 Percentage  71.979032
                       2016 Percentage  73.371667
                       2017 Percentage  74.381667
                       2018 Percentage  75.082759
                       2019 Percentage  75.681034
Total                  2015 Percentage  71.654545
                       2016 Percentage  73.375806
                       2017 Percentage  74.329032
                       2018 Percentage  75.141667
                       2019 Percentage  75.941667

In [61]:
def emp_rate_edu (data, year = int, Educational_attainment = object ):

    """"
    This function inputs a data base defined as data, a year from 2015 until 2019, and Educational_attainment = 'Low', 'Medium', 'High'. 
    Depending on Educational_attainment and the year selected the function returns a data frame 
    including the columns = 'Country', 'Educational_attainment', 'Year', 'Unit' always showing the value Percentage in every row, and 'Value' corresponding to
    every single country included in the data frame called data.

    """

    immi = data.copy().set_index('Place of birth')
    immi = immi.loc[['Foreign-born']]
    immi = immi[(immi['Educational attainment'] == Educational_attainment) & (immi['Year'] == year)]

    max_immi1 = immi.pivot_table(index=['Country', 'Educational attainment', 'Year'], aggfunc = {'sum'} )

            

    max_immi2 = max_immi1.sort_values(by = ('Value', 'sum'), ascending=False).head(50)
    
   
    return max_immi2

In [62]:
emp_rate_edu(data, 2019, 'Medium')

                                                   Unit Value
                                                    sum   sum
Country         Educational attainment Year
Slovak Republic Medium                 2019  Percentage  82.8
Czech Republic  Medium                 2019  Percentage  82.4
Hungary         Medium                 2019  Percentage  81.6
Iceland         Medium                 2019  Percentage  81.5
Portugal        Medium                 2019  Percentage  80.3
United Kingdom  Medium                 2019  Percentage  80.0
Germany         Medium                 2019  Percentage  79.1
Israel          Medium                 2019  Percentage  78.4
Switzerland     Medium                 2019  Percentage  78.4
Poland          Medium                 2019  Percentage  78.4
Austria         Medium                 2019  Percentage  76.6
United States   Medium                 2019  Percentage  75.1
Slovenia        Medium                 2019  Percentage  74.9
Sweden          Medium                 2019  Percentage  74.8
Ireland         Medium                 2019  Percentage  73.7
Finland         Medium                 2019  Percentage  73.0
Norway          Medium                 2019  Percentage  72.8
Netherlands     Medium                 2019  Percentage  72.7
Estonia         Medium                 2019  Percentage  71.6
Spain           Medium                 2019  Percentage  70.8
Luxembourg      Medium                 2019  Percentage  70.3
Lithuania       Medium                 2019  Percentage  69.3
Denmark         Medium                 2019  Percentage  68.7
Belgium         Medium                 2019  Percentage  67.9
Latvia          Medium                 2019  Percentage  67.8
Italy           Medium                 2019  Percentage  67.1
Mexico          Medium                 2019  Percentage  64.4
France          Medium                 2019  Percentage  61.4
Greece          Medium                 2019  Percentage  55.0