# **Questions**

Which are the top five OECD countries that present the best laboral integration rates according to the educational attainment of the immigrant ?

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../data/clean/immigrant_education_employment_OECD.csv')
data

        Country Place of birth Educational attainment  Year        Unit  Value
0     Australia   Foreign-born                  Total  2015  Percentage   72.3
1     Australia   Foreign-born                  Total  2016  Percentage   72.6
2     Australia   Foreign-born                  Total  2017  Percentage   73.7
3     Australia   Foreign-born                  Total  2018  Percentage   74.5
4     Australia   Foreign-born                  Total  2019  Percentage   75.1
...         ...            ...                    ...   ...         ...    ...
1188  Lithuania    Native-born                   High  2015  Percentage   90.1
1189  Lithuania    Native-born                   High  2016  Percentage   91.3
1190  Lithuania    Native-born                   High  2017  Percentage   91.1
1191  Lithuania    Native-born                   High  2018  Percentage   91.5
1192  Lithuania    Native-born                   High  2019  Percentage   91.6

[1193 rows x 6 columns]

In [6]:
immi = data.copy().set_index('Place of birth')
immi = immi.loc[['Foreign-born']]
immi = immi[immi['Year'] == 2019]
immi

                  Country Educational attainment  Year        Unit  Value
Place of birth
Foreign-born    Australia                  Total  2019  Percentage   75.1
Foreign-born      Austria                  Total  2019  Percentage   71.8
Foreign-born      Austria                    Low  2019  Percentage   55.7
Foreign-born      Austria                 Medium  2019  Percentage   76.6
Foreign-born      Austria                   High  2019  Percentage   78.1
...                   ...                    ...   ...         ...    ...
Foreign-born       Latvia                   High  2019  Percentage   81.0
Foreign-born    Lithuania                  Total  2019  Percentage   73.7
Foreign-born    Lithuania                    Low  2019  Percentage   52.5
Foreign-born    Lithuania                 Medium  2019  Percentage   69.3
Foreign-born    Lithuania                   High  2019  Percentage   83.7

[115 rows x 5 columns]

In [43]:
immi = data.copy().set_index('Place of birth')
immi = immi.loc[['Foreign-born']]
immi = immi[immi['Country'] == 'Germany']
immi = immi[immi['Year'] == 2019]
immi

                Country Educational attainment  Year        Unit  Value
Place of birth
Foreign-born    Germany                  Total  2019  Percentage   73.6
Foreign-born    Germany                    Low  2019  Percentage   61.2
Foreign-born    Germany                 Medium  2019  Percentage   79.1
Foreign-born    Germany                   High  2019  Percentage   80.0

In [42]:
max_immi1 = immi.pivot_table(index=['Country', 'Educational attainment', 'Year'], aggfunc = {'sum'} )
max_immi1
            

max_immi2 = max_immi1.sort_values(by = ('Value', 'sum'), ascending=False).head(50)
max_immi2

                                                   Unit Value
                                                    sum   sum
Country         Educational attainment Year
Iceland         High                   2019  Percentage  89.8
Hungary         High                   2019  Percentage  87.2
Israel          High                   2019  Percentage  85.5
Luxembourg      High                   2019  Percentage  84.7
Iceland         Total                  2019  Percentage  84.3
Switzerland     High                   2019  Percentage  84.3
Norway          High                   2019  Percentage  84.2
Lithuania       High                   2019  Percentage  83.7
Czech Republic  High                   2019  Percentage  83.5
United Kingdom  High                   2019  Percentage  83.1
Slovak Republic Medium                 2019  Percentage  82.8
Hungary         Total                  2019  Percentage  82.7
Czech Republic  Medium                 2019  Percentage  82.4
Portugal        High                   2019  Percentage  82.4
Slovenia        High                   2019  Percentage  82.3
Slovak Republic Total                  2019  Percentage  81.7
Hungary         Medium                 2019  Percentage  81.6
Ireland         High                   2019  Percentage  81.6
Israel          Total                  2019  Percentage  81.6
Iceland         Medium                 2019  Percentage  81.5
Sweden          High                   2019  Percentage  81.2
Estonia         High                   2019  Percentage  81.2
Poland          High                   2019  Percentage  81.1
Latvia          High                   2019  Percentage  81.0
Czech Republic  Total                  2019  Percentage  81.0
Slovak Republic High                   2019  Percentage  81.0
Portugal        Total                  2019  Percentage  80.4
                Medium                 2019  Percentage  80.3
Denmark         High                   2019  Percentage  80.1
Germany         High                   2019  Percentage  80.0
United Kingdom  Medium                 2019  Percentage  80.0
Switzerland     Total                  2019  Percentage  79.5
Poland          Total                  2019  Percentage  79.4
United States   High                   2019  Percentage  79.2
United Kingdom  Total                  2019  Percentage  79.2
Germany         Medium                 2019  Percentage  79.1
Netherlands     High                   2019  Percentage  78.8
Poland          Medium                 2019  Percentage  78.4
Switzerland     Medium                 2019  Percentage  78.4
Israel          Medium                 2019  Percentage  78.4
Austria         High                   2019  Percentage  78.1
Portugal        Low                    2019  Percentage  78.1
Luxembourg      Total                  2019  Percentage  76.6
Austria         Medium                 2019  Percentage  76.6
Iceland         Low                    2019  Percentage  76.3
Ireland         Total                  2019  Percentage  76.3
Finland         High                   2019  Percentage  76.1
Estonia         Total                  2019  Percentage  75.8
Belgium         High                   2019  Percentage  75.7
Hungary         Low                    2019  Percentage  75.4

In [35]:
max_immi1.columns

MultiIndex([( 'Unit', 'sum'),
            ('Value', 'sum')],
           )

In [27]:
max_immi1 = immi.pivot_table(index=['Educational attainment', 'Year'], aggfunc = {'Value':'mean'} )
max_immi1

                                 Value
Educational attainment Year
High                   2019  79.534483
Low                    2019  60.148148
Medium                 2019  73.475862
Total                  2019  73.366667