# **Questions**

2. Which is the most common profile of the immigrants into the OECD countries considering gender and studies?
Alternative question: Which are the OECD countires where immigrant women have reached the highest integration rate in the labor market during the last ten years?

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('../data/clean/immigrant_employment_OECD.csv')
data

,Country,Place of birth,Gender,Rate,Year,Unit,Value
0,Australia,Foreign-born,Men,Employment rate,2000,Percentage,74.0
1,Australia,Foreign-born,Men,Employment rate,2001,Percentage,73.9
2,Australia,Foreign-born,Men,Employment rate,2002,Percentage,74.0
3,Australia,Foreign-born,Men,Employment rate,2003,Percentage,74.1
4,Australia,Foreign-born,Men,Employment rate,2004,Percentage,75.6
...,...,...,...,...,...,...,...
12048,Lithuania,Native-born,Total,Unemployment rate,2021,Percentage,7.3
12049,Lithuania,Native-born,Total,Participation rate,2018,Percentage,77.3
12050,Lithuania,Native-born,Total,Participation rate,2019,Percentage,78.1
12051,Lithuania,Native-born,Total,Participation rate,2020,Percentage,78.6
12052,Lithuania,Native-born,Total,Participation rate,2021,Percentage,78.3

In [6]:
def emp_rate_gender(data, year=int, gender= object):

    """"
    This function inputs a data base defined as data, a year from 2000 until 20121, and Gender = 'Women', 'Men'. 
    Depending on Gender and the year selected the function returns a data frame 
    including the columns = 'Country', 'Gender', 'Rate' always showing the value Employment rate in every row, 'Year', 'Unit' always showing the value Percentage in every row, and 'Value' corresponding to
    every single country included in the data frame called data and its employment rate by gender.

    """
    
    immi = data.copy().set_index('Place of birth')
    immi = immi.loc[['Foreign-born']]
    immi = immi[(immi['Year'] == year) & (immi['Rate'] == 'Employment rate') & (immi['Gender'] == gender)]

    max_immi1 = immi.pivot_table(index=['Country', 'Gender', 'Rate', 'Year'], aggfunc = {'sum'} )
    max_immi1

    max_immi2 = max_immi1.sort_values(by = ('Value', 'sum'), ascending=False).head(50)

    return max_immi2

In [7]:
emp_rate_gender(data, 2010, 'Women')

                                                   Unit Value
                                                    sum   sum
Country         Gender Rate            Year
Iceland         Women  Employment rate 2010  Percentage  74.6
Switzerland     Women  Employment rate 2010  Percentage  66.6
Norway          Women  Employment rate 2010  Percentage  65.8
Portugal        Women  Employment rate 2010  Percentage  64.5
Canada          Women  Employment rate 2010  Percentage  63.4
Hungary         Women  Employment rate 2010  Percentage  62.4
Luxembourg      Women  Employment rate 2010  Percentage  61.9
New Zealand     Women  Employment rate 2010  Percentage  61.0
Australia       Women  Employment rate 2010  Percentage  60.7
Denmark         Women  Employment rate 2010  Percentage  60.5
Finland         Women  Employment rate 2010  Percentage  59.9
Slovenia        Women  Employment rate 2010  Percentage  59.8
Austria         Women  Employment rate 2010  Percentage  59.8
United Kingdom  Women  Employment rate 2010  Percentage  58.1
Estonia         Women  Employment rate 2010  Percentage  57.8
United States   Women  Employment rate 2010  Percentage  57.4
Netherlands     Women  Employment rate 2010  Percentage  57.3
Czech Republic  Women  Employment rate 2010  Percentage  56.2
Sweden          Women  Employment rate 2010  Percentage  55.9
Germany         Women  Employment rate 2010  Percentage  55.9
OECD - Total    Women  Employment rate 2010  Percentage  55.0
Ireland         Women  Employment rate 2010  Percentage  54.0
Spain           Women  Employment rate 2010  Percentage  52.7
Greece          Women  Employment rate 2010  Percentage  51.2
France          Women  Employment rate 2010  Percentage  50.2
Italy           Women  Employment rate 2010  Percentage  49.5
Belgium         Women  Employment rate 2010  Percentage  45.0
Poland          Women  Employment rate 2010  Percentage  43.4
Slovak Republic Women  Employment rate 2010  Percentage  38.9
Mexico          Women  Employment rate 2010  Percentage  31.8
Türkiye         Women  Employment rate 2010  Percentage  27.8

In [8]:
max_immi1 = data.pivot_table(index=['Country', 'Gender', 'Rate', 'Year'], aggfunc = {'sum'} )
max_immi1

                                                      Place of birth  \
                                                                 sum
Country       Gender Rate              Year
Australia     Men    Employment rate   2000  Foreign-bornNative-born
                                       2001  Foreign-bornNative-born
                                       2002  Foreign-bornNative-born
                                       2003  Foreign-bornNative-born
                                       2004  Foreign-bornNative-born
...                                                              ...
United States Women  Unemployment rate 2017  Foreign-bornNative-born
                                       2018  Foreign-bornNative-born
                                       2019  Foreign-bornNative-born
                                       2020  Foreign-bornNative-born
                                       2021  Foreign-bornNative-born

                                                             Unit  Value
                                                              sum    sum
Country       Gender Rate              Year
Australia     Men    Employment rate   2000  PercentagePercentage  152.6
                                       2001  PercentagePercentage  151.6
                                       2002  PercentagePercentage  152.1
                                       2003  PercentagePercentage  152.8
                                       2004  PercentagePercentage  154.8
...                                                           ...    ...
United States Women  Unemployment rate 2017  PercentagePercentage    9.0
                                       2018  PercentagePercentage    8.1
                                       2019  PercentagePercentage    7.4
                                       2020  PercentagePercentage   18.4
                                       2021  PercentagePercentage   11.4

[6067 rows x 3 columns]

In [20]:
max_immi2 = max_immi1.sort_values(by = ('Value', 'sum'), ascending=False).head(50)
max_immi2

                                                   Unit Value
                                                    sum   sum
Country         Gender Rate            Year
Israel          Women  Employment rate 2021  Percentage  76.9
Hungary         Women  Employment rate 2021  Percentage  76.1
Poland          Women  Employment rate 2021  Percentage  73.8
Portugal        Women  Employment rate 2021  Percentage  72.3
Iceland         Women  Employment rate 2021  Percentage  72.2
United Kingdom  Women  Employment rate 2021  Percentage  70.1
Czech Republic  Women  Employment rate 2021  Percentage  69.3
Switzerland     Women  Employment rate 2021  Percentage  68.8
Luxembourg      Women  Employment rate 2021  Percentage  68.2
Australia       Women  Employment rate 2021  Percentage  67.8
Canada          Women  Employment rate 2021  Percentage  67.4
Slovak Republic Women  Employment rate 2021  Percentage  66.4
Ireland         Women  Employment rate 2021  Percentage  66.0
Norway          Women  Employment rate 2021  Percentage  66.0
Estonia         Women  Employment rate 2021  Percentage  64.7
Denmark         Women  Employment rate 2021  Percentage  64.7
Lithuania       Women  Employment rate 2021  Percentage  63.1
Latvia          Women  Employment rate 2021  Percentage  61.1
Austria         Women  Employment rate 2021  Percentage  60.6
Germany         Women  Employment rate 2021  Percentage  60.6
Netherlands     Women  Employment rate 2021  Percentage  60.2
Sweden          Women  Employment rate 2021  Percentage  59.7
Slovenia        Women  Employment rate 2021  Percentage  59.1
United States   Women  Employment rate 2021  Percentage  59.1
Finland         Women  Employment rate 2021  Percentage  58.9
Spain           Women  Employment rate 2021  Percentage  54.2
France          Women  Employment rate 2021  Percentage  53.7
Belgium         Women  Employment rate 2021  Percentage  51.4
Italy           Women  Employment rate 2021  Percentage  47.1
Greece          Women  Employment rate 2021  Percentage  43.5
Mexico          Women  Employment rate 2021  Percentage  38.8
New Zealand     Women  Employment rate 2021  Percentage  35.6