# **Questions**

2. Which is the most common profile of the immigrants into the OECD countries considering gender and studies?

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/clean/immigrant_employment_OECD.csv')
data

,Country,Place of birth,Gender,Rate,Year,Unit,Value
0,Australia,Foreign-born,Men,Employment rate,2000,Percentage,74.0
1,Australia,Foreign-born,Men,Employment rate,2001,Percentage,73.9
2,Australia,Foreign-born,Men,Employment rate,2002,Percentage,74.0
3,Australia,Foreign-born,Men,Employment rate,2003,Percentage,74.1
4,Australia,Foreign-born,Men,Employment rate,2004,Percentage,75.6
...,...,...,...,...,...,...,...
12048,Lithuania,Native-born,Total,Unemployment rate,2021,Percentage,7.3
12049,Lithuania,Native-born,Total,Participation rate,2018,Percentage,77.3
12050,Lithuania,Native-born,Total,Participation rate,2019,Percentage,78.1
12051,Lithuania,Native-born,Total,Participation rate,2020,Percentage,78.6
12052,Lithuania,Native-born,Total,Participation rate,2021,Percentage,78.3

In [5]:
immi = data.copy().set_index('Place of birth')
immi = immi.loc[['Foreign-born']]
immi = immi[immi['Year'] == 2021]
# immi = immi[immi['Gender'] == 'Women']
immi

                  Country Gender                Rate  Year        Unit  Value
Place of birth
Foreign-born    Australia    Men     Employment rate  2021  Percentage   81.0
Foreign-born    Australia    Men   Unemployment rate  2021  Percentage    4.9
Foreign-born    Australia    Men  Participation rate  2021  Percentage   85.2
Foreign-born    Australia  Women     Employment rate  2021  Percentage   67.8
Foreign-born    Australia  Women   Unemployment rate  2021  Percentage    5.8
...                   ...    ...                 ...   ...         ...    ...
Foreign-born    Lithuania  Women   Unemployment rate  2021  Percentage   12.8
Foreign-born    Lithuania  Women  Participation rate  2021  Percentage   72.3
Foreign-born    Lithuania  Total     Employment rate  2021  Percentage   68.2
Foreign-born    Lithuania  Total   Unemployment rate  2021  Percentage   10.0
Foreign-born    Lithuania  Total  Participation rate  2021  Percentage   75.7

[283 rows x 6 columns]

In [6]:
max_immi1 = immi.pivot_table(index=['Country', 'Gender', 'Rate', 'Year'], aggfunc = {'sum'} )
max_immi1

                                                    Unit Value
                                                     sum   sum
Country       Gender Rate               Year
Australia     Men    Employment rate    2021  Percentage  81.0
                     Participation rate 2021  Percentage  85.2
                     Unemployment rate  2021  Percentage   4.9
              Total  Employment rate    2021  Percentage  74.2
                     Participation rate 2021  Percentage  78.4
...                                                  ...   ...
United States Total  Participation rate 2021  Percentage  74.2
                     Unemployment rate  2021  Percentage   5.6
              Women  Employment rate    2021  Percentage  59.1
                     Participation rate 2021  Percentage  63.0
                     Unemployment rate  2021  Percentage   6.2

[283 rows x 2 columns]